{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>NumBathrooms</th>
                <th>NumRooms</th>
                <th>MaxPersons</th>
                <th>IsLastPlant</th>
                <th>Floor</th>
                <th>Square</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.name }}</td>
                <td>{{ property.description }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.numBathrooms }}</td>
                <td>{{ property.numRooms }}</td>
                <td>{{ property.maxPersons }}</td>
                <td>{{ property.isLastPlant ? 'Yes' : 'No' }}</td>
                <td>{{ property.floor }}</td>
                <td>{{ property.square }}</td>
                <td>
                    <a href="{{ path('app_property_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('app_property_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_property_new') }}">Create new</a>
{% endblock %}
