{% extends 'base.html.twig' %}
{% block stylesheets %}
	<style>
		.carousel-indicators button.thumbnail {
			width: 100px;
		}
		.carousel-indicators button.thumbnail:not(.active) {
			opacity: 0.7;
		}
		.carousel-indicators {
			position: static;
		}
		.carousel-inner {
			height: 0;
			padding-bottom: 50%; /* this sets carousel aspect ratio (4:1 here) */
		}

		.carousel-indicators img {
			height: 50px; /* Bootstrap handles width already */
			object-fit: cover; /* or 'contain' if you want stretch instead of crop */
		}

		.carousel-item {
			position: absolute !important; /* Bootstrap is insistent */
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.carousel-item img {
			height: 100%; /* Bootstrap handles width already */
			object-fit: cover; /* or 'contain' if you want stretch instead of crop */
		}

		@media(max-width: 575px) {
			.carousel-inner {
				height: 0;
				padding-bottom: 70%; /* this sets carousel aspect ratio (4:1 here) */
			}
		}

		@media screen and(min-width: 992px) {
			.carousel {
				max-width: 70%;
				margin: 0 auto;
			}
		}

		.equipments {
			/* border: 1px solid #ced4da;
			border-radius: 0.25rem; 
			margin: 2rem 0.25rem 0.25rem; */
			/*background: #f8f9fa; /* Bootstrap light background */*/
		}

		.equipment-icon,
		.rule-icon {
			color: #6c757d;
		}

		#map {
			height: 500px; /* Adjust the height as needed */
			width: 100%;
		}
	</style>

{% endblock %}


{% block title %}
	{{ property.name }}
{% endblock %}

{% block body %}
	<div class="container">
		{% set name = property.name %}
		{% set breadcrumbs = [
            {'label': 'breadcrumbs.home', 'link': 'default'},
            {'label': 'property.form.properties', 'link': 'referrer'},
            {'label': name|lower|u.truncate(20, '...', false)}
        ] %}

		{% include '/breadcrumbs.html.twig' with {'breadcrumbs': breadcrumbs} %}

		<div class="row mb-5">
			<div class="col-lg-8">
				<div id="property-carouserl" class="carousel slide">
					<div class="carousel-inner">
						{% for photo in property.photos %}
							<div class="carousel-item {{loop.first ? 'active' : ''}}">
								<img src="{{ asset(photo.url) }}" class="d-block w-100" alt="...">
							</div>
						{% endfor %}
					</div>
					{% if property.photos|length > 1 %}
						<div class="carousel-indicators">
							{% for i, photo in property.photos %}
								<button type="button" data-bs-target="#property-carouserl" data-bs-slide-to="{{i}}" class="{{loop.first ? 'active' : ''}} thumbnail" aria-current="true" aria-label="Slide {{i+1}}">
									<img src="{{ asset(photo.url) }}" class="d-block w-100" alt="...">
								</button>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Reservar</a>
					</div>
				</div>
			</div>
		</div>


		<h1>{{property.name}}</h1>

		{% set address = property.address %}
		{% set city = address.city|default([]) %}
		{% set province = city.province|default([]) %}
		{% set autonomousComunity = province.autonomousComunity|default([]) %}

		<div class="address m-3">
			{{ address.street|default("") }}
			|
			{{ city.name|default("") }}
			|
			{{ province.name|default("") }}
			|
			{{ autonomousComunity.name|default("") }}
		</div>


		<h1 class="mt-3">{{property.price|format_currency('EUR', {rounding_mode: 'floor'})}}</h1>

		<div class="building m-3">
			{% set hasElevator = property.equipments|filter(equipment => equipment.name == 'elevator')|length > 0 %}


			{{property.square ~ ' ' ~ 'm²'}}
			|
			{{property.numRooms ~ ' ' ~ 'property.show.room_units'|trans }}
			|
			{{property.numBathrooms ~ ' ' ~ 'property.show.bathroom_units'|trans }}
			|
			{{ 'property.show.floor'|trans({'%numFloor%': property.floor}) }}
			{{ hasElevator ? 'property.show.with_elevator'|trans : 'property.show.without_elevator'|trans }}
		</div>

        <div class="row">
            <div class="equipment-card col-md-6">
                <div class="equipment-title">
                    <h2>{{ 'property.show.equipment_title'|trans }}</h2>
                </div>
                <div class="equipments row">
                    <div class="d-flex flex-wrap justify-content-start">
                        {% for equipment in property.equipments %}
                            <div class="equipment-element">
                                <div style="icon-container d-flex flex-column align-items-center" class="p-3 text-center">
                                    <div class="equipment-icon" style="height: 60px; width:60px;">
                                        {{ ux_icon(equipment.icon) }}
                                    </div>
                                    <span class="">{{equipment.label|trans}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="rules-card col-md-6">
                <div class="rules-title">
                    <h2>{{ 'property.show.rules_title'|trans }}</h2>
                </div>
                <div class="rules row">
                    <div class="d-flex flex-wrap justify-content-start">
                        {% for rule in property.rules %}
                            <div class="rule-element">
                                <div style="icon-container d-flex flex-column align-items-center" class="p-3 text-center">
                                    <div class="equipment-icon" style="height: 60px; width:60px;">
                                        {{ ux_icon(rule.icon) }}
                                    </div>
                                    <span class="">{{rule.label|trans}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


		<h3 class="mt-4">{{ 'property.show.description_title'|trans }}</h3>
        <div class="m-3">
        	{{property.description|raw}}
        </div>


		<div class="row">
            <div class="map-title">
				<h2>{{ 'property.show.map_title'|trans }}</h2>
			</div>
            <div class="m-1">
            	<div id="map"></div>
            </div>
		</div>


		{#
																																<a href="{{ path('app_property_index') }}">back to list</a>
																														
																																<a href="{{ path('app_property_edit', {'id': property.id}) }}">edit</a>
																														
																																{{ include('property/_delete_form.html.twig') }}#}
	</div>
{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key={{app.request.server.get('GOOGLE_MAP_API_KEY')}}&libraries=places"></script>

	<script>
		document.addEventListener('DOMContentLoaded', (event) => { // Coordinates (latitude and longitude)
            const lat = {{ property.address.latitude }};
            const lng = {{ property.address.longitude }};

            // Initialize the map
            const map = new google.maps.Map(document.getElementById('map'), {
                center: {
                lat: lat,
                lng: lng
                },
                zoom: 14 // Adjust the zoom level as needed
            });

            // Add a marker at the specified coordinates
            const marker = new google.maps.Marker({
                position: {
                lat: lat,
                lng: lng
                },
                map: map,
                title: 'Marker at the specified coordinates'
            });
        });
	</script>
{% endblock %}
