<nav class="navbar navbar-expand-lg bg-light gradient-custom fixed-top">
	<div class="{{ containerClass is defined ? containerClass : "container" }}">
		<a class="navbar-brand" href="{{ url("default") }}">
			<span style="color: #eb6864; font-family: Stencil Std; -webkit-text-stroke: 0.3px #45beca; font-size: x-large;">UNI</span>
			<img src="{{asset("images/Uniwave_logo.png")}}" alt="Logo" width="35" height="35" class="d-inline-block align-text-top pb-1">
			<span style="color: #45beca; font-family: Stencil Std; -webkit-text-stroke: 0.3px #eb6864; font-size: x-large;">WAVE</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-lg-0">
				{% set html_gear_ul %}
				{% if is_granted('ROLE_USER') %}
					<li class="d-flex align-items-center gap-2 m-2">
						<a style="" class="nav-link" href="#">{{ ux_icon('bi:person-circle') }}</a>
						<span class="text-center" style="display:inline">
							{{ app.user.email }}
						</span>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						{% if is_granted('ROLE_OWNER') %}
							<a class="nav-link" href="{{url('app_property_index')}}">{{ 'base.client_area'|trans }}</a>
						{% else %}
							<a class="nav-link" href="{{url('app_user_profile_edit')}}">{{ 'base.client_area'|trans }}</a>
						{% endif %}
					</li>
				{% endif %}
				{% endset %}

				{% set html_logout %}
				{% if is_granted('ROLE_USER') %}
					<li>
						<a class="nav-link" href="{{url('app_search_favorite')}}">{{ 'base.favorites'|trans }}</a>
					</li>
					<li class="dropdown-submenu">
						<a class="nav-link dropdown" tabindex="-1" href="#">{# {{ 'language.title'|trans }} #}{{ app.request.locale|upper }}
							<span class="caret"></span>
						</a>
						<ul style="background-color: transparent; border: none; position: relative;" class="dropdown-menu p-1">
							<li class="nav-link p-1">
								<a class="nav-link" tabindex="-1" href="{{ path('change_locale', {'locale': 'es'}) }}">{{ 'language.spanish'|trans }}</a>
							</li>
							<li class="p-1">
								<a class="nav-link" tabindex="-1" href="{{ path('change_locale', {'locale': 'en'}) }}">{{ 'language.english'|trans }}</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="nav-link" href="{{ url('app_logout')}}">{{ 'base.logout'|trans }}</a>
					</li>
				{% endif %}
				{% endset %}

				<div class="d-block d-md-none">
					{{ html_gear_ul | raw }}
				</div>

				<li class="nav-item">
					<a class="nav-link" href="{{ url("about_us") }}">{{ 'about.title'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url("contact") }}">{{ 'contact.title'|trans }}</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="nav-item dropdown d-none d-lg-block">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span style="">{{ ux_icon('bi:gear') }}</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-right">
							{{ html_gear_ul | raw }}
							{{ html_logout | raw }}
						</ul>
					</li>
				</li>
				<div class="d-block d-lg-none">
					{{ html_logout | raw }}
				</div>

			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url("app_login") }}">{{ 'user.access'|trans }}</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
