{% extends 'base.html.twig' %}

{% block title %}
		{{ 'search.title'|trans }}
{% endblock %}

{% block body %}
	<div class="container">

		{% set breadcrumbs = [
            {'label': 'breadcrumbs.home', 'link': 'default'},
            {'label': 'property.form.properties', 'link': ''}
        ] %}

		<h2>{{ 'search.title'|trans }}</h2>
		<div class="m-3">
			{% include '/breadcrumbs.html.twig' with {'breadcrumbs': breadcrumbs} %}
		</div>


		<div class="row">
			{% for property in pagination.items %}
				{% set now = "now"|date('U') %}
				{% set updatedAtTimestamp = property.updatedAt|date('U') %}
				{% set minutesPassed = (now - updatedAtTimestamp) // 60 %}

				<div class="col-md-6 col-lg-4">
					{% set firstPhoto = property.photos|default([])|first %}
					<div class="card m-3">
						<img class="card-img-top" src="{{ firstPhoto is not empty ? (asset(firstPhoto.url) ) : asset('images/placeholder400x200.png') }}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">{{ property.name }}</h5>
							<p class="card-text">{{ property.description|raw }}</p>
							<p class="card-text">
								<small class="text-muted">{{ 'property.form.last_updated'|trans({'%minutes%': minutesPassed}) }}</small>
							</p>
							<a href="{{ path('app_property_show', {'id': property.id}) }}" class="btn btn-primary">Ver el anuncio</a>
						</div>
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="12">{{'property.not_found'|trans}}</td>
				</tr>
			{% endfor %}

			<div class="d-flex justify-content-center">
				{{ knp_pagination_render(pagination) }}
			</div>
		</div>
	</div>
{% endblock %}
