{% extends "base_with_navbar.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		#cover {
			background-image: url("{{asset('images/sample3.webp')}}");
			height: 300px;
			width: 100%;
			background-size: cover;
		}

		.gradient {
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 49.66%, rgba(217, 217, 217, 0) 98.67%);
			width: 100%;
			height: 100%;
		}
	</style>

{% endblock %}

{% block content %}
	<div id="cover" class="">
		<div class="gradient">
			<div class="container">
				<div id="search-box" class="row col-sm-12 col-md-8 p-lg-5 mx-auto">
					<h1 class="display-7 fw-normal">{{ 'index.search_box.title'|trans }}</h1>
					<div class="col-sm-12 col-md-6">
						<select id="property-type-selector" class="form-select" aria-label="Default select example">
							{% for propertyType in propertyTypes %}
								<option propertytype.id=='1' ? 'selected' : '' value="{{propertyType.id}}">{{(propertyType.label)|trans}}</option>
							{% endfor %}
							<option value="">{{ 'search.form.type_placeholder'|trans}}</option>
						</select>
					</div>
					<div class="col-sm-12 col-md-6">
						<select id="city-selector" class="form-select" aria-label="Default select example">
							{% for city in cities %}
								<option city.id=='1' ? 'selected' : '' value="{{city.id}}">{{city.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div
						class="col-sm-12 pt-2">
						<!-- TODO: Pass additional search criteria to property -->
						<button class="btn btn-outline-primary w-100" onclick="searchByTypeAndProperty()">{{ 'base.search'|trans }}</button>
					</div>

				</div>
			</div>
			<div class="product-device shadow-sm d-none d-md-block"></div>
			<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
		</div>
	</div>

	<div class="container pt-4">
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<img style="width: 100%; height: 200px" class="card-img-top object-fit-cover" src="{{ asset("images/about_us.jpg") }}" alt="about us image">
					<div class="card-body">
						<h5 class="card-title">{{ 'index.about_us.title'|trans }}</h5>
						<p class="card-text">{{ 'index.about_us.text_1'|trans }}</p>
						<a href="{{ url("about_us") }}" class="btn btn-primary">{{ 'index.about_us.more_info'|trans }}</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<img style="width: 100%; height: 200px" class="card-img-top object-fit-cover" src="{{ asset("images/contact_us.jpg") }}" alt="contact us image">
					<div class="card-body">
						<h5 class="card-title">{{ 'index.contact_us.title'|trans }}</h5>
						<p class="card-text">{{ 'index.contact_us.text_1'|trans }}</p>
						<a href="{{ url("contact") }}" class="btn btn-primary">{{ 'index.contact_us.button_title'|trans }}</a>
					</div>
				</div>
			</div>


		</div>
		<h2 class="mt-4">{{ 'index.choose_us.title'|trans }}</h2>

		<div class="row mt-4">
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<img src="{{ asset("images/search.jpg") }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ 'index.choose_us.card_1.title'|trans }}</h5>
						<p class="card-text">{{ 'index.choose_us.card_1.text'|trans }}</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<img src="{{ asset("images/support.jpg") }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ 'index.choose_us.card_2.title'|trans }}</h5>
						<p class="card-text">{{ 'index.choose_us.card_2.text'|trans }}</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<img src="{{ asset("images/comunity.jpg") }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ 'index.choose_us.card_3.title'|trans }}</h5>
						<p class="card-text">{{ 'index.choose_us.card_3.text'|trans }}</p>
					</div>
				</div>
			</div>
		</div>

		<h2 class="mt-4">{{ 'index.last_properties.title'|trans }}</h2>
		<div class="col-12"></div>
	</div>
{% endblock %}


{% block javascript %}
	<script>
		function searchByTypeAndProperty() { // Get the values from the select elements
var propertyType = document.getElementById('property-type-selector').value;
var cityId = document.getElementById('city-selector').value;
// Construct the URL (adjust the base URL as needed)
var url = Routing.generate('app_search_property_type_city', {
type: propertyType,
city: cityId
});
console.log("url", url)
// Redirect to the constructed URL
window.location.href = url;
}
	</script>
{% endblock %}
